body {
    background: #CECBC4;
    font-family: 'Arvo', serif;
}

.blurb h2 {
   color: #ae2012;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #ca6702;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: #BA6930;
    font-size: 1.2rem;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #BA6930;
    font-size: 1.2em;
    font-family: 'Bebas Neue', cursive;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    color: #540b0e;
    font-weight: 800;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(37, 24, 37);
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}
#footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#F8F9FA;
    color: #63707C;
    text-align: center; 
}
#contactUs {
    margin-bottom: 0;
}
#design {
    margin:0;
}



